.ant-breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 20px;
  font-size: 25px !important;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.line {
  border-left: 3px solid #31c17b;
  padding-left: 10px;
}
